*, *::before, *::after {
    box-sizing: border-box;
}
* {
margin: 0;
}
:root {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: 	#00101a;
    color: #e4eff0;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --color-blue-ocean: #005066;
    --color-blue-neutral: #4e7988;
    --color-blue-light: #78cce2;
    
    
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}
ul {
list-style: none;
}