.main-container {
    width: 90vw;
    margin: 1rem auto;
}

.terminal-bar {
    border: 1px solid;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: none;
}

.terminal-bar__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    /* border: 1px solid red; */
}

.terminal-icon {
    width: 26px;
}

.bar-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.bar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 8px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}
.bar-button:hover {
    cursor: pointer;
}
.bar-button:focus {
    outline: none;
}
.bar-button--exit {
    background-clip: padding-box;
}

.menu {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.25rem;
    /* border: 1px solid red; */
}

.menu a {
    color: inherit;
}

.title {
    margin: 0 0 1.25rem 0.5rem;
}

.highlight {
    color: #73abad;
    text-shadow: 0 0 4px #73abad;
}

.terminal-text__prompt:before {
    content: "$ ";
    color: #58af69;
}
.terminal-text__prompt {
    margin-left: 0.5rem;
}

.cursor:before {
    content: "█";
}

.cursor {
    font-size: 13px;
    color: #73abad;
    background-color: #73abad;
    position: relative;
    opacity: 1;
    height: 20px;
    width: 10px;
    max-width: 10px;
    transform: translateY(4px);
    overflow: hidden;
    text-indent: -5px;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    60% {
        opacity: 0;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1.5rem;
}
.footer__links {
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 690px) {
    .main-container {
        width: 90vw;
    }

    /* pre {
        font-size: 13px;
    } */
    .bar-title--hide {
        visibility: hidden;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }
}

/* @media screen and (max-width: 490px) {
    pre {
        font-size: 9px;
    }
    .menu {
        padding: 0;
    }
} */
