.main-container {
  padding: 15px 20px;
  min-width: 350px;
  
}

.terminal-bar {
  height: 55px;
  
  border: 1px solid;
  padding: 0 0.5rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: none;
  
}

.terminal-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.terminal-icon {
  width: 24px;
}

.bar-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin-right: 0.25rem;
  font-size: 0.65rem;
  height: 16px;
  width: 16px;
  border-radius: 40%;
}
.bar-button:hover {
  cursor: pointer;
}
.bar-button:focus {
  
  outline: none;
}
.bar-button--exit {
  
  background-clip: padding-box;
}

.menu {
  font-size: 0.875rem;
  position: relative;
  border: none;
  top: 8px;
  display: flex;
  gap: 12px;
  align-items: center;
  width: 20%;
}

.menu a {
  color: inherit;
}



.title {
  margin: 0 0 1rem 1rem;
}





.highlight {
  color: #73ABAD;
  text-shadow: 0 0 4px #73ABAD; 
}










.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 12px;
  margin-top: 24px;
}